<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="http://v4.pingendo.com/assets/bootstrap/themes/default.css" rel="stylesheet" type="text/css">
  
</head>

<body ng-app="catalogoApp" ng-controller="taggerController">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 p-y-3 text-xs-center">
          <div class="btn-group btn-group-lg p-y-2">
            <a href="#" class="btn btn-lg btn-warning active" data-toggle="button">Dettaglio</a>
            <a href="#" class="btn btn-lg btn-warning disabled">Insieme</a>
            <a href="#" class="btn btn-lg btn-warning disabled">Foto</a>

          </div>
          <form class="text-xs-center">
            <div class="form-group">
              <label></label>
              <input class="form-control" ng-model="newOne.id" placeholder="ID">
            </div>
            <div class="form-group">
              <label></label>
              <input class="form-control" ng-model="newOne.folder" placeholder="Folder dati">
            </div>
            <div class="form-group">
              <label></label>
              <input class="form-control" ng-model="newOne.notaPubblica" placeholder="Nota pubblica">
            </div>
            <div class="form-group">
              <label></label>
              <input class="form-control" ng-model="newOne.notaPrivata" placeholder="Nota privata">
            </div>
            <div class="form-group">
              <input ng-blur="showTagHelper = false" ng-focus="showTagHelper = true" ng-model="newOne.tags" class="form-control" placeholder="Tags">
              <label style="position:relative;float:right;top:-28px;left:-10px;"><i ng-show="!editable" class="fa fa-lock pull-rigth" ng-click="toggleEditable()"></i>
            <i ng-show="editable" class="fa fa-unlock pull-rigth" ng-click="toggleEditable()"></i></label>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="container-fluid" ng-if="showTagHelper || editable">
      <div class="row" >
        <div class="col-md-2" ng-repeat="(key, group) in tags">
          <div class="card text-xs-left">
            <div class="card-block">
              <h5 ng-if="editable" class="card-title" contenteditable ng-model="group.name" ng-enter="renameGroup('tags/' + key + '/name', group.name)"></h5>
              <h5 ng-if="!editable" class="card-title" >{{group.name}}</h5>
              <ol class="list-unstyled">
                <li ng-repeat="tag in group.tags" ng-mousedown="addTag(tag, $event)" style="width:100%">
                  &nbsp;{{tag}}
                  <i ng-show="editable" class="fa fa-trash pull-right" ng-click="deleteTag()"></i>
                </li>
                <li ng-show="editable" class="p-t-1">
                  <input type="text" ng-model="input" ng-enter="createTag('tags/' + key + '/tags', input)" style="background-color:rgba(0,0,0,0.3);border:0px;">
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div ng-show="editable" class="col-md-2" >
          <div class="card text-xs-left">
            <div class="card-block">
              <h1>+</h1>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="container text-xs-center">
  <a class="btn btn-lg btn-primary" ng-click="save()">Salva</a>
  </div>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.0.0/firebase.js"></script>
  <script src="ng-tags-input.min.js"></script>
  <script src="edit.js"></script>

</body>

</html>